PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/gurunanak_db
JWT_SECRET=your_super_secret_key
EMAIL=chaubeyayush323@gmail.com
EMAIL_PASS=pqdpfpcpbcoauqxt
STOCK_ALERT_EMAIL=chaubeyayush323@gmail.com
CLIENT_URL=http://localhost:5173
PRESCRIPTION_NOTIFICATION_EMAIL=chaubeyayush323@gmail.com
CLOUDINARY_URL=cloudinary://353865995282148:RkCGsw1xQdCJuZRY9f3WCroUTuU@db1szckry
ADMIN_SETUP_KEY=change_this_admin_setup_key

ADMIN_SETUP_KEY=123456

RAZORPAY_KEY_ID=rzp_test_SQbbsEM3Dlfgi2
RAZORPAY_KEY_SECRET=n6saGAP0Sv2l2NLBwn3h8RUQ
